#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
}

@keyframes ldio-g7albfvqkzq {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-g7albfvqkzq div {
  position: absolute;
  animation: ldio-g7albfvqkzq 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #53ab8b;
  transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-znl3sd1sckl {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-g7albfvqkzq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-g7albfvqkzq div { box-sizing: content-box; }

#content {
  display: none;
}